<%- include('header') -%>

<div class="container-fluid">
    <h1 class="heading">404 NOT FOUND!</h1>
    <p class="content">Uh oh.. Looks like you've stumbled upon uncharted territory!</p>
    <form action="/" method="get">
        <button id="btn-404" class="btn btn-lg" type="submit">Go Home</button>
    </form>
</div>

<%- include('footer') -%>