<%- include('head') -%>
<!-- Add page specific head content here -->
<title>Opps! 404 not found!</title>
<meta name="description" content="Personal blog of Siddharth Prince (sprince0031)">
<%- include('navbar') -%>


  <h1 class="heading">404 NOT FOUND!</h1>
  <p class="content">Uh oh.. Looks like you've stumbled upon uncharted territory!</p>
  <form action="/" method="get">
    <button id="btn-404" class="btn btn-lg" type="submit">Go Home</button>
  </form>


<%- include('footer') -%>