<%- include('head') -%>
<!-- Add page specific head content here -->
<%- include('navbar') -%>


    <h1 class="heading">ABOUT</h1>
    <p class="content"><%= aboutContent %></p>

<%- include('footer') -%>