<%- include('head') -%>
<!-- Add page specific head content here -->
<title>Siddharth Prince | About</title>
<meta name="description" content="Personal blog of Siddharth Prince (sprince0031)">
<%- include('navbar') -%>


    <h1 class="heading">ABOUT</h1>
    <div class="about-content">
        <p>
            Greetings people from the inter-webs! I am Siddharth Prince (sprince0031), a techie, geek, nerd and everything in between. Code is &hearts; for me and I love learning something new. 
            I'm also a huge movie buff and a pop culture fanatic. My music tastes skew old-school rock & roll, jazz and blues from the 60's to the 90's even though I do appreciate good music from modern times.
        </p>
        <p>
            This is a personal blog I built from the ground up using Node.js, Express.js and MongoDB. It is still a work in progress and I'm improving it when I can and learning along the way from the experience.
            Above all, this is a space for me to pour my thoughts and opinions on stuff I care about. It is also a space for me to share my experiences as I learn and discover new things. I am one who firmly believes in the idea of open source and in the power of sharing ideas.
            So, if any of my thoughts or ideas I share here helps anyone, it would make me extremely happy!
        </p>
        <p>
            Thank you for taking the time to hang out with me, or rather my thoughts. Stay awesome and cheers!
        </p>
    </div>

<%- include('footer') -%>