<%- include('partials/head') -%>
    <!-- Add page specific head content here -->
    <meta name="robots" content="noindex">
    <title>Compose | Siddharth Prince</title>
<%- include('partials/navbar') -%>

    <h1 class="heading">Compose</h1>
    <form id="compose-form" action="/admin/compose" method="post">
        <input type="text" name="postTitle" placeholder="Title" autocomplete="off" required><br>
        <textarea name="content" placeholder="Type your content here..."></textarea><br>
        <textarea name="description" placeholder="Provide a brief description for your post."></textarea><br>
        <button class="btn btn-lg" type="submit">Publish</button>
    </form>
    
<%- include('partials/footer') -%>
    <!-- Add page specific scripts here -->
<%- include('partials/foot') -%>