<%- include('head') -%>
<!-- Add page specific head content here -->
<%- include('navbar') -%>


    <h1 class="heading">CONTACT</h1>
    <p class="content"><%= contactContent %></p>


<%- include('footer') -%>