<%- include('partials/head') -%>
    <!-- Add page specific head content here -->
    <title>Siddharth Prince | Contact</title>
    <meta name="description" content="Personal blog of Siddharth Prince (sprince0031)">

<%- include('partials/navbar') -%>


    <h1 class="heading">CONTACT</h1>
    <div class="contact-content mx-auto">
        <div class="row mx-auto">
            <div class="col-md-1"></div>
            <div class="contact-card card col-md-3" id="github">
                <a href="https://github.com/sprince0031" target="_blank">
                    <div class="row">
                        <img src="/assets/GitHubLogo.svg" alt="GitHub logo">
                        <h4>sprince0031</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="contact-card card col-md-3" id="linkedin">
                <a href="https://linkedin.com/in/sprince0031" target="_blank">
                    <div class="row">
                        <img src="/assets/LinkedInLogo.svg" alt="LinkedIn logo">
                        <h4>Siddharth Prince</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="contact-card card col-md-3" id="reddit">
                <a href="https://www.reddit.com/user/sprince0031" target="_blank">
                    <div class="row">
                        <img src="/assets/RedditLogo.svg" alt="Reddit logo">
                        <h4>sprince0031</h4>
                    </div>
                </a>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-md-1"></div>
            <div class="contact-card card col-md-3" id="instagram">
                <a href="https://www.instagram.com/sprince0031/" target="_blank">
                    <div class="row">
                        <img src="/assets/InstagramLogo.svg" alt="Instagram logo">
                        <h4>sprince0031</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="contact-card card col-md-3" id="twitter">
                <a href="https://twitter.com/sidprince2931" target="_blank">
                    <div class="row">
                        <img src="/assets/TwitterLogo.svg" alt="Twitter logo">
                        <h4>@sidprince2931</h4>
                    </div>
                </a>
            </div>
            <div class="col-md-1"></div>
            <div class="contact-card card col-md-3" id="gmail">
                <a href="mailto:siddharthprince31@gmail.com">
                    <div class="row">
                        <img src="/assets/GmailLogo.svg" alt="Gmail logo">
                        <h4>siddharthprince31</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>


<%- include('partials/footer') -%>
    <!-- Add page specific scripts here -->
<%- include('partials/foot') -%>