    /*----------------------------------------------------------------------------- 
Vouch Screen Stylesheet 
version:   0.1 
date:      13/06/2020 
author:    Siddharth Prince 
email:     siddharthprince31@gmail.com 
website:   https://github.com/sprince0031/generic-blog
version history: https://github.com/sprince0031/generic-blog/tree/development/public/css
*/

:root {
	--background-colour: #fff;
    --primary-text-colour: #000;
	--accent-colour: #2e6cd1;
}

* { 
	margin: 0; 
	padding: 0; 
	border: 0; 
}

.clear { 
    clear:both; 
} 

.right { 
    float: right; 
} 

.left { 
    float: left; 
}

body { 
    /* font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;  */
    font: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: var(--text-color);
    background-color: var(--background-colour);
}

::selection {
    color: #fff;
    background-color: var(--accent-colour);
}

::-moz-selection {
    color: #fff;
    background-color: var(--accent-colour);
}

/*----------------------------------------------------------------------------- 
Typography
*/

h1 { 
    font-size: 3em; 
} 
     
h2 { 
    font-size: 2.8em;     
} 
     
h3 { 
    font-size: 2.6em; 
} 
     
h4 { 
    font-size: 2.4em;     
} 
     
h5 { 
    font-size: 2.2em;     
} 

h6 {
    font-size: 2em;
}
     
p { 
    font-size: 1.2em;     
}

a {
    color: var(--primary-text-colour) !important;
    text-decoration: none;
}

/*----------------------------------------------------------------------------- 
Navbar
*/
.navbar .container {
    margin-top: 0;
    padding: 0.7rem 0;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3.5px;
    color: var(--primary-text-colour);
    background-color: var(--background-colour);

}

.navbar a.navbar-brand {
    font-size: 1.1rem;
    color: var(--primary-text-colour);
}

.nav-link {
    color: var(--primary-text-colour);
    font-weight: 400 !important;
}

.nav-link:hover {
    color: var(--accent-colour);
}

.active {
    border-bottom: 1px solid var(--accent-colour);
}

@media only screen and (max-width: 767px) {
    .active {
        border-bottom: none;
        border-left: 1.5px solid var(--accent-colour);
    }

    .nav-link {
        font-weight: 700 !important;
        padding-left: 0.5rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

}

#theme-toggle-btn {
    color: var(--primary-text-colour);
    margin-bottom: 0.25rem;
    background-color: #0000;
    border: none;
    font-size: 20px;
}

#theme-toggle-btn .bi {
    font-size: 1.25em;
}

nav .bi-plus-circle {
    font-size: 1.75em;
    color: var(--primary-text-colour);
}

.theme-toggle-fixed {
    position: fixed;
    top: 0.85rem;
    right: 3.25rem;
}

.compose-button-fixed {
    position: fixed;
    top: 1rem;
    right: 6rem;
}

nav button:focus, nav button:active {
    outline: none;
}

#theme-toggle-btn:active {
    outline: none;
}

.navbar-toggler {
    position: fixed;
    top: 1.1rem;
    right: 0.15rem;
}

.navbar-toggler-icon svg{
    fill: var(--primary-text-colour);
}

/*----------------------------------------------------------------------------- 
Container
*/

.container {
    padding-top: 7rem;
    padding-bottom: 10rem;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
}

/*----------------------------------------------------------------------------- 
Post page
*/

.post-content {
    margin-top: 2rem;
}

.post-content ul {
    margin-left: 10px;
}

/*----------------------------------------------------------------------------- 
404 page
*/

#btn-404 {
    background-color: var(--accent-colour);
    color: #fff;
}

/*----------------------------------------------------------------------------- 
Compose page
*/

#compose-form input[name='postTitle'] {
    margin: 1rem 0;
    padding-left: 1rem;
    background: #0000;
    border: 2px solid #0000;
    color: var(--primary-text-colour);
    width: 50%;
    min-width: fit-content;
    font-size: x-large;
}

#compose-form input[name='postTitle']:focus {
    outline: none;
    width: 100%;
    min-width: fit-content;
    border-bottom: 2px solid var(--accent-colour);
    transition: 0.2s;
}

#compose-form textarea {
    border: none;
    background: transparent;
    color: var(--primary-text-colour);
    padding-left: 1rem;
    height: 200px;
    width: 100%;
    border: 2px solid #0000;
    margin-bottom: 1rem;
}

#compose-form textarea[name="description"] {
    height: 75px;
}

#compose-form textarea:focus {
    outline: none;
    border-left: 2px solid var(--accent-colour);
    transition: 0.2s;
}

#compose-form button.btn {
    color: #fff;
    background-color: var(--accent-colour);
}

/*----------------------------------------------------------------------------- 
Contact page
*/

.contact-card {
    /* box-shadow: 1 5 5 2 var(--primary-text-colour); */
    margin: 0.4rem 0;
    text-align: right;
    border-radius: 10px !important;
}

.contact-card a h4 {
    padding-top: 25px;
    padding-left: 20px;
    color: #fff;
}

.contact-card a:hover {
    text-decoration: none;
}

.contact-card img {
    height: 75px;
    width: 75px;
}

#github {
    background-color: #333;
}

#linkedin {
    background-color: #0077b5;
}

#twitter {
    background-color: #1da1f2 ;
}

#reddit {
    background-color: #ff4500;
}

#instagram {
    background-color: #e1306c;
}

#gmail {
    background-color: #eee;
}

#gmail h4 {
    color: #000;
    padding-left: 0;
}

/*----------------------------------------------------------------------------- 
Login page
*/
#login-div {
    text-align: center;
    padding: 1.5rem;
}

#login-form input {
    text-align: center;
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    margin: 1rem 0;
    width: 15%;
    border-bottom: 2px solid transparent;
}

#login-form input:focus {
    outline: none;
    width: 25%;
    border-bottom: 2px solid var(--accent-colour);
    transition: 0.3s;
}

#login-form button {
    background-color: var(--accent-colour);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #fff;
}

/*----------------------------------------------------------------------------- 
Footer
*/

footer {
    text-align: center;
    color: #fff;
    background-color: var(--accent-colour);
    margin-top: auto;
}

footer p {
    padding: 0.8rem 0;
    font-size: 0.8rem;
    margin-bottom: 2px;
}

.footer svg {
    position: relative;
    top: 3px;
    font-size: medium;
}