body {
    background-color: var(--background-colour);
    height: 100vh;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: var(--background-colour);
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    color: var(--primary-text-colour);
    background-color: var(--background-colour);

}

.navbar-brand {
    color: var(--primary-text-colour) !important;
}

.navbar-nav li a {
    color: var(--primary-text-colour) !important;
}

.navbar-nav  li a:hover {
    color: var(--accent-colour) !important;
}

.navbar-nav li button {
    display: inline;
    color: var(--primary-text-colour);
    background-color: #0000;
    border: none;
    bottom: 0;
    font-size: 20px;
}

.navbar-nav li button:focus {
    outline: none;
}

p, h1, h2 {
    color: var(--primary-text-colour);
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: relative;
    text-align: center;
    top: 23vh;
	bottom: 0 !important;
	width: 100%;
	height: 60px;
	background-color: var(--accent-colour);
}

.footer p {
    position: relative;
    top: 40%;
    text-align: center;
	font-size: 12px;
    color: #fff;
}

.footer svg {
    position: relative;
    top: 3px;
    font-size: medium;
    fill: #fff;
}

#theme-toggle-btn svg {
    position: relative;
    top: 12px;
}

#btn-404 {
    background-color: var(--accent-colour);
    color: #fff;
}

/**
* Styles for compose page
*/

#compose-form input[name='postTitle'] {
    margin: 1rem 0;
    padding-left: 1rem;
    background: #0000;
    border: 2px solid #0000;
    color: var(--primary-text-colour);
    width: 50%;
    min-width: fit-content;
    font-size: x-large;
}

#compose-form input[name='postTitle']:focus {
    outline: none;
    width: 100%;
    min-width: fit-content;
    border-bottom: 2px solid var(--accent-colour);
    transition: 0.2s;
}

#compose-form textarea {
    border: none;
    background: #0000;
    color: var(--primary-text-colour);
    padding-left: 1rem;
    height: 200px;
    width: 100%;
    border: 2px solid #0000;
    margin-bottom: 2rem;
}

#compose-form textarea:focus {
    outline: none;
    border-left: 2px solid var(--accent-colour);
    transition: 0.2s;
}

#compose-form button.btn {
    color: #fff;
    background-color: var(--accent-colour);
}